@model PortfolioProjectNigth.Models.Portfolio

@{
    ViewBag.Title = "CreatePortfolio";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Proje Ekleme Sayfası</h2>

<form method="post">

    <label>Proje Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Proje Alt Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf Url'si</label>
    @Html.TextAreaFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Github Url'si</label>
    @Html.TextAreaFor(x => x.GithubUrl, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Proje Ekle</button>
</form>
