@model List<PortfolioProjectNigth.Models.Category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
          <table class="table table-bordered">
              <tr>
                  <th>Kategori Id</th>
                  <th>Kategori Adı</th>
              </tr>

              @foreach (var item in Model)
              {
                  <tr>
                      <td>@item.CategoryID</td>
                      <td>@item.CategoryName</td>
                      <td><a href="/Skill/DeleteSkill/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                  </tr>
              }
    </table>
</div>
<a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Girişi</a>
