
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Yeni Kategori Ekleme Sayfası</h2>

<form method="post">

    <label>Kategori Başlığı</label>
    <input type="text" name="CategoryName" class="form-control" />
    <br />

    <button class="btn btn-info">Kategori Ekle</button>

</form>
